{% extends "layout/base.html" %}

{% block content %}

<article class="blog-detail-section py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="blog-detail-header">
                    <h1 class="blog-detail-title">{{ post.title }}</h1>
                    <div class="blog-detail-meta">
                        <span><i class="far fa-calendar-alt"></i> {{ post.created_at|date:"F d, Y" }}</span>
                        <span><i class="far fa-clock"></i> Updated {{ post.updated_at|date:"M d, Y" }}</span>
                    </div>
                </div>

                <div class="blog-detail-image">
                    <img src="https://picsum.photos/800/400?{{ post.id }}" alt="{{ post.title }}" class="img-fluid rounded-4">
                </div>

                <div class="blog-detail-content">
                    <p class="blog-detail-excerpt">{{ post.short_description }}</p>
                    <div class="blog-content-body">
                        {{ post.content|linebreaks }}
                    </div>
                </div>

                <div class="blog-detail-footer">
                    <a href="{% url 'blog:blog_list' %}" class="btn btn-back">
                        <i class="fas fa-arrow-left"></i> Back to Blog
                    </a>
                </div>
            </div>

            {% if recent_posts %}
            <div class="col-lg-4">
                <aside class="blog-sidebar">
                    <div class="sidebar-widget">
                        <h5 class="sidebar-title">Recent Posts</h5>
                        {% for rp in recent_posts %}
                        <div class="recent-post-item">
                            <div class="recent-post-img">
                                <img src="https://picsum.photos/60/60?{{ rp.id }}" alt="{{ rp.title }}">
                            </div>
                            <div class="recent-post-info">
                                <a href="{% url 'blog:blog_detail' rp.slug %}" class="recent-post-title">{{ rp.title }}</a>
                                <span class="recent-post-date">{{ rp.created_at|date:"M d, Y" }}</span>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </aside>
            </div>
            {% endif %}
        </div>
    </div>
</article>

{% endblock %}
